@model HarnessHelper.Models.Plug

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Plug</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumPinHoles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumPinHoles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Device)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Device.DeviceId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PlugId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
