@model RapidTireEstimates.ViewModels.ServiceViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Service</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                    </table>
                </div>
                <br />
            </div>
            @*
            <div class="form-group">
                <div id="vehicleTypeList" style="height: 100px; overflow: auto;border:solid; width:150px;">
                    @if (Model.VehicleTypeList != null)
                    {
                        @foreach (var types in @Model.VehicleTypeList)
                        {
                            var checkBoxId = "chk" + types.Value;
                            var tdId = "td" + types.Value;
                            <table width="100%">
                                <tr>
                                    <td width="20px">
                                        <input type="checkbox" id="@checkBoxId" class="chkclass" value="@types.Value" />
                                    </td>
                                    <td id="@tdId" width="100px">
                                        @types.Text
                                    </td>
                                </tr>
                            </table>
                        }
                    }
                </div>
            </div>
            *@
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="Hours" class="control-label"></label>
                <input asp-for="Hours" class="form-control" />
                <span asp-validation-for="Hours" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <br />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
