@model TheWarehouse.ViewModels.CartListVM

@{
    ViewData["Title"] = "Index";
}

<h1>Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cartitem.Menuitem.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cartitem.Menuitem.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cartitem.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cartitem.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cartitems) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Menuitem.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Menuitem.Price)
                </td>
                <td>
                    <a asp-action="DecrementItem" asp-route-cartid=@item.CartId>-</a>
                    @Html.DisplayFor(modelItem => item.Quantity)
                    <a asp-action="IncrementItem" asp-route-cartid=@item.CartId>+</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <a asp-action="RemoveFromCart" asp-route-cartid=@item.CartId>Remove</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td>Cart Total: </td>
            <td>@Html.DisplayFor(model => model.Total)</td>
            <td>
                <a asp-controller="Transactions" asp-action="CreateFromCart">Submit</a>
            </td>
        </tr>
    </tfoot>
</table>
