@model IEnumerable<TheWarehouse.Models.Ingredient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedTs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedTs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supply)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedTs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuItem.IdMenuItems)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supply.IdSupplies)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdIngredients">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdIngredients">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdIngredients">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
